<div class="container-fluid custom-block">
  <div class="row">
    <div class="col-xs-12 toolbar">
      <md-toolbar color="primary">
        <div class="logo"><
          <amp-dash [typeText]="'DEV SPACE'" [typeLoop]="true" class="app-title"></amp-dash>>
        </div>
        <md-input-container class="search-container">
          <input mdInput placeholder="Search APIs" [formControl]="stateCtrl" [mdAutocomplete]="auto" class="search-input" >
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let api of filteredStates | async" [value]="api">
            {{ api }}
          </md-option>
        </md-autocomplete>
      </md-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      Most popular apis
      
    </div>
  </div>
</div>