.custom-block{
    // padding:0;
}
.search-container{
    margin:15px 0 0 30px;
    width:40%;
}
.search-input{
    background-color: white;
     opacity:0.5;
    color:black;
    height:40px;
}
.logo{
    width:150px;
    color:white;
    font-family: 'Coda', cursive;
}
.toolbar{
    padding:0;
    box-shadow: 0 8px 8px -6px black
}
.api-list{
    list-style-type: none;
}
